{% load static %}

<html>
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <img src="./media/images/default.jpg" style="display: none">
    </head>
    <body>
        <div class="page-header">
            {% if user.is_authenticated %}
                    <a href="{% url 'post_new' %}" class="top-menu"><span id= "plusicon-colourchange"class="glyphicon glyphicon-plus"></span></a>
            {% endif %}
            <h1 style="text-align: center;"> <a href="/" id="title"> My Blogs</a></h1>
            <span id="titlebreak"></span>
        </div>
        <div class=content>
            <div class=content-align>
                {% block content %}
                {% endblock %}
            </div>
                
        </div>
    </body>
</html>