{% extends 'blog/base.html' %}

{% block content %}
    <div class="post-detail"  >
	    <form method="POST" class="post-form" enctype="multipart/form-data">{% csrf_token %}
	         
        <div >
            <div class="summary-div">
            {{ form.summary}}
            </div>
            <div class="horizontal-flex">
                <div class = "skills-div">
           
               
                {% for skill in skills %}
                    <div class="skill-container">
                        <ul>
                            {% if user.is_authenticated %}
                                <a class="btn btn-default" id = "edit_post" href="{% url 'skill_edit' pk=skill.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                                <form action= "{% url 'skill_remove' pk=skill.pk %}" method="POST">{% csrf_token %}
                                    <button id = "delete_post"  class="btn btn-default" type="submit" type=><span class="glyphicon glyphicon-trash"></span></button>
                                </form>
                            {% endif %}
                            <li>{{ skill.skill }}<br /><span>{{ skill.description }}</span></li>
                        </ul>

                    </div>

                {% endfor %}
                <div class="addform">
                      {% if user.is_authenticated %}
                        <a href="{% url 'skills_new' %}" id="id_skills" ><span id= "plusicon-colourchange"class="glyphicon glyphicon-plus" id="id_skills"></span></a>
                    {% endif %}
                </div>

                </div>


                <div class="inner-vert-flex">

                    <div class="qualifications-div ">
                
                        {% for qual in qualifications %}
                            <div class="qual-container">
                                <ul>
                                    {% if user.is_authenticated %}
                                        <a class="btn btn-default" id = "edit_post" href="{% url 'qual_edit' pk=qual.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                                        <form action= "{% url 'qual_remove' pk=qual.pk %}" method="POST">{% csrf_token %}
                                            <button id = "delete_post"  class="btn btn-default" type="submit" type=><span class="glyphicon glyphicon-trash"></span></button>
                                        </form>
                                    {% endif %}
                                    <li>{{ qual.qualification }}<br /><span>{{ qual.subject }}
                                        <br /> <span>{{ qual.grade }}</span></span></li>
                                </ul>

                            </div>

                        {% endfor %}
                        <div class="addform">
                               {% if user.is_authenticated %}
                                <a href="{% url 'qual_new' %}" id="id_qual"><span id= "plusicon-colourchange"class="glyphicon glyphicon-plus"></span></a>
                            {% endif %}
                        </div>


                    </div>

                        <div class="workExp-div">
                      
                      
                        {% for work in workExp %}
                            <div class="workExp-container">
                                <ul>
                                    {% if user.is_authenticated %}
                                        <a class="btn btn-default" id = "edit_post" href="{% url 'work_edit' pk=work.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                                        <form action= "{% url 'work_remove' pk=work.pk %}" method="POST">{% csrf_token %}
                                            <button id = "delete_post"  class="btn btn-default" type="submit" type=><span class="glyphicon glyphicon-trash"></span></button>
                                        </form>
                                    {% endif %}

                                    <li>{{ work.dateStarted }} - {{ work.dateEnd }}<br /><span>{{ work.title }}
                                        <br /> <span>{{ work.company }}</span></span></li>
                                </ul>

                            </div>


                        {% endfor %}
                          <div class="addform">
                              {% if user.is_authenticated %}
                            <a href="{% url 'work_new' %}" id="id_workExp"><span id= "plusicon-colourchange"class="glyphicon glyphicon-plus"></span></a>
                             {% endif %}
                        </div>



                        </div>
                </div>
            </div>


            <div class="interests-div">
                {{ form.interests}}
            </div>

            <div class="references-div">
                {{ form.references}}
            </div>

        <div>
            <button type="submit" class="save btn btn-default" id="id_submit">Save</button>

        </div>
            
        </div>


	</div>






   
{% endblock %}