{% extends 'blog/base.html' %}

{% block content %}
    <div class= "settings-detail"> 
            {% if user.is_authenticated %}
                
                 <form action= "{% url 'post_remove' pk=post.pk %}" method="POST">{% csrf_token %}
                    <a class="btn btn-default" id = "edit_post" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                    <button id = "delete_post" onclick="confirm('Are you want to delete this post?')" class="btn btn-default" type="submit" type=><span class="glyphicon glyphicon-trash"></span></button>
                </form>
            {% endif %}
    </div>
    <div  class="post-detail">
        
 
        {% if post.published_date %}
            <div class="date">
               {{ post.author }}, {{ post.published_date }}
            </div>
        {% endif %}
        
        <h2>{{ post.title }}</h2>
        <div class="image-container">
            <img src= "{{ post.coverImage.url }}">
        </div>
        
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endblock %}