{% extends 'blog/base.html' %}
{% block content %}
    {% for post in posts %}
    <div  class="post">
        <div class="date">
            {{ post.published_date }}
        </div>
         <h2 class="title-header">{{ post.title }}</h2>
        <div class="image-container">
            <img src= "{{ post.coverImage.url }}">
        </div>
       

        <p class="post_list-gradient">{{ post.text|truncatewords:60 }}</p>
        {% if post.text|length > 60 %}
            <a style="float:right" href="{% url 'post_detail' pk=post.pk %}">Read More</a>
        {% endif %}
    </div>
    {% endfor %}
{% endblock %}
