{% extends 'blog/base.html' %}
{% block content %}
    <div class="flex-container"> 
        {% for post in posts %}
        <div  class="post">
            <h2 class="title-header">{{ post.title }}</h2>
            <div class="image-container">
                <img style="height:300px" src= "{{ post.coverImage.url }}">
            </div>

            <p class="post_list-gradient">{{ post.text|truncatewords:60 }}</p>
            {% if post.text|length > 60 %}
                <a style="float:right; padding-right: 2px;" href="{% url 'post_detail' pk=post.pk %}">Read More</a>
            {% endif %}
        </div>
    {% endfor %}
    </div>

{% endblock %}
